/* src/components/ProductCard.css */
.product-card {
    background: #fff;
    padding-bottom: 20px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.product-card:hover {
    border: 1px solid #ebedee;
}

.product-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f5f5f5;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wishlist-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.price-tag {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
}

.product-title {
    font-size: 13px;
    color: #000;
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

.product-category {
    font-size: 12px;
    color: #767677;
}